main {
  padding-top: 10px;
}

main .row {
  margin-bottom: 20px;
}

.upper {
  padding-top: 60px;
}

.upper .box {
  background-color: transparent;
}

.upper .col-6 {
  background-color: transparent;
}

.upper .row {
  background-color: transparent;
}

.web-upper {
  padding-top: 20px;
}

div {
  background: transparent;
}


.box {
  min-height: 200px;
  height: fit-content;
  text-align: center;
  padding-top: 30px;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}


.proimg-1 {
margin-top: 12px;
background-image: url(images/familyfield2.jpg); 
background-size: cover;
 background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
  box-shadow: 2px 2px .5px #00000061;
}

.proimg-2 {
margin-top: 12px;
background-image: url(images/pblkline1.1.png); 
background-size: cover;
 background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
  box-shadow: 2px 2px .5px #00000061;
}

.proimg-3 {
margin-top: 12px;
background-image: url(images/dronegolf1.jpg); 
background-size: cover;
 background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
  box-shadow: 2px 2px .5px #00000061;}

.proimg-4 {
margin-top: 12px;
background-image: url(images/umedialogo1.4.1.png); 
background-size: cover;
 background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
  box-shadow: 2px 2px .5px #00000061;
}


.proimg-5 {
margin-top: 12px;
background-image: url(images/corndrone1.jpg); 
background-size: cover;
 background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
  box-shadow: 2px 2px .5px #00000061;
}

.proimg-6 {
margin-top: 12px;
background-image: url(images/DJI_0004.jpg); 
background-size: cover;
 background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
  box-shadow: 2px 2px .5px #00000061;
}

.proimg-7 {
margin-top: 12px;
background-image: url(images/travelicons.png); 
background-size: cover;
 background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
  box-shadow: 2px 2px .5px #00000061;}

.proimg-8 {
margin-top: 12px;
background-image: url(images/nathaninv1.1.png); 
background-size: cover;
 background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
  box-shadow: 2px 2px .5px #00000061;
}





