main {
  padding-top: 10px;
}

main .row {
  margin-bottom: 20px;
}

.upper {
  padding-top: 60px;
}

.upper .box {
  background-color: transparent;
}

.upper .col-6 {
  background-color: transparent;
}

.upper .row {
  background-color: transparent;
}

.web-upper {
  padding-top: 20px;
}

div {
  background: transparent;
}


.box {
  min-height: 200px;
  height: fit-content;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}
